# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.venv/
venv/
.env
.python-version

# Build artifacts
build/
dist/
*.egg

# Caches
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
coverage.xml
.coverage

# Editors/IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
notebooks/**/.ipynb_checkpoints/
Notebook2/**/.ipynb_checkpoints/

# Databases
*.sqlite
*.db

# Outputs
output/

# Node (just in case)
node_modules/

